.update-driver {
  text-align: center;
  padding: 40px;

  h1 {
    margin-bottom: 30px;
  }

  select {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
  }

  .update-form {
    margin-top: 20px;
    label {
      margin-top: 10px;
      display: block;
    }

    input {
      padding: 10px;
      margin: 5px;
      border-radius: 8px;
      width: 300px;
    }

    button {
      padding: 10px 20px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
