.bus-management-options {
  text-align: center;
  padding: 20px;

  .options-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
  }

  .option-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 22px;
      margin-bottom: 10px;
      color: whitesmoke;
    }

    p {
      font-size: 16px;
      color: #666;
    }
  }
}
