.area-card {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 20px 16px;
  justify-content: space-between;
  box-shadow: var(--light-shadow1);
  color: white; /* Ensure text color is white */

  @media (max-width: 768px) {
    padding: 12px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px; /* Adjust size if needed */
    height: 40px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .info-title {
    color: var(--lg-text-color);
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .info-value {
    color: var(--xl-text-color);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .info-text {
    color: var(--base-text-color);
    font-weight: 500;
  }
}
